  @page
@model Mission09_nsweiler.Pages.PurchaseModel
@{
}

@* only uses models and views (no controllers) *@

<h2>Your Basket</h2>
@* TA: I added the table-dark styling to the shopping cart *@
<table class="table table-bordered table-striped table-dark">

    <thead>
        <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Cost</th>
            <th>Subtotal</th>
        </tr>
    </thead>

    <tbody>
        @foreach(var i in Model.basket.Items)
        {
        <tr>
            <td>@i.Book</td>
            <td>@i.Quantity</td>
            <th>25</th>
            <th>@(i.Quantity * 25)</th>
        </tr>
        }
    </tbody>

    <tfoot>
        <tr>
            <td colspan="3">Total:</td>
            <td>@Model.basket.CalculateTotal().ToString("c")</td>
        </tr>
    </tfoot>

</table>

<div>
    <a class="btn btn-primary" href="@Model.ReturnUrl">Continue Shopping</a>
</div>
