
@{
}

@model Book

@* Here we provide the layout of the Book info using div tags *@
<div class="card card-outsmallne-primary m-1 p-1">
    <div class="bg-faded p-1">
        <h4>
            @Model.Title

            <span class="badge badge-pill badge-primary" style="float:right">
                <small>Price: @Model.Price.ToString("c")</small>
            </span>
        </h4>
    </div>
    <div class="card-text p-1">Author: @Model.Author</div>
    <div class="card-text p-1">Publisher: @Model.Publisher</div>
    <div class="card-text p-1">ISBN: @Model.Isbn</div>
    <div class="card-text p-1">Classification: @Model.Classification</div>
    <div class="card-text p-1">Category: @Model.Category</div>
    <div class="card-text p-1">Page Count: @Model.PageCount</div>

    <form method="post" asp-page="/purchase">


        <input type="hidden" asp-for="@Model.BookId" />
        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />

        <span class="card-text">
            @* TA: I added the svg style to the button *@
            <button type="submit" class="btn btn-success btn-sm float-end svg" style="float:right">Submit</button>
        </span>
    </form>

</div>




